@import '../../../scss/fonts';
@import '../../../scss/variables';

.address {
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 40px 60px;

  .content {
    flex: 1;
    max-width: $content-width-desktop;
  }
}
