@import '../../../scss/fonts';
@import '../../../scss/media-queries';
@import '../../../scss/variables';

.nav-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
  padding-top: 22px;
  overflow: hidden;
  border-right: 1px solid var(--panel-border);
  background-color: var(--panel-background);

  @include tablet-down {
    padding-top: 16px;
  }

  a {
    &:focus {
      border: 0;
      outline: none;
    }
  }

  .logo {
    width: 36px;
    height: 36px;
    margin-bottom: 120px;

    @include tablet-down {
      width: 28px;
      height: 28px;
    }
  }

  .nav-panel--button {
    @include font-size(12px);

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50px;
    margin-bottom: 30px;
    border: 0;
    outline: 0;
    background: none;
    color: var(--text-color-secondary);
    font-family: $font-sans;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;

    &.nav-panel--button__selected {
      color: var(--accent-primary);
    }

    .nav-panel-button-label {
      margin-top: $spacing-tiny;
    }
  }

  &.full-width {
    width: 100%;

    .logo {
      margin-bottom: 60px;
    }

    .nav-panel--button {
      flex-direction: row;
      margin-bottom: 15px;

      .nav-panel-button-label {
        margin-top: 0;
        margin-left: $spacing-small;
      }
    }
  }
}
