@import '../../scss/card';
@import '../../scss/fonts';

.analytics {
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 60px;

  .content {
    flex: 1;
    max-width: $content-width-desktop;

    .graph {
      padding: 24px;
    }
  }

  .gossip {
    .col {
      .gossip-value {
        @include font-size(24px);

        margin-top: $spacing-tiny;
        color: var(--text-color-primary);
        font-family: $font-sans;
        font-weight: bold;
        white-space: nowrap;
      }
    }
  }
}
