@import '../../scss/card';
@import '../../scss/fonts';

.home {
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 60px;

  .content {
    flex: 1;
    max-width: $content-width-desktop;

    .banner {
      flex: 1;
      height: 140px;

      .node-info {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: space-between;
        padding: $spacing-small;
      }

      .banner-curve {
        color: var(--panel-background-highlight);
      }

      .banner-image {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        border-radius:  0 16px 16px 0;
        background-color: var(--panel-background-highlight);
      }
    }

    .messages-graph-panel {
      .graph {
        padding: 24px;
      }
    }

    .peers-summary-panel {
      // flex: 1;
      min-width: 350px;
    }
  }
}
