@import '../../scss/card';
@import '../../scss/fonts';

.peers {
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 60px;

  .content {
    flex: 1;
    max-width: $content-width-desktop;

    .add-button {
      @include font-size(14px);
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 6px 12px;
      border: 1px solid var(--text-color-secondary);
      border-radius: $form-input-radius;
      outline: 0;
      background: var(--accent-primary);
      color: #ffffff;
      font-family: $font-sans;
      cursor: pointer;

      &:hover {
        color: var(--accent-primary);
      }

      &:focus {
        box-shadow: 0 0 3px 0 var(--accent-primary);
      }
    }

    .peers-panel {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      .peers-panel--item {
        width: $content-width-desktop / 2 - $spacing-small / 2;
        margin-top: $spacing-small;
        overflow: hidden;

        .card {
          padding: $spacing-large;

          .peer-health {
            width: 16px;
            height: 16px;
            margin-right: $spacing-small;
          }

          .peer-id {
            @include font-size(14px);

            overflow: hidden;
            color: var(--text-color-primary);
            font-family: $font-sans;
            font-weight: 500;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .graph {
            margin-top: 24px;
          }
        }
      }
    }
  }
}
