@import '../../scss/card';
@import '../../scss/fonts';

.settings {
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 60px;

  .content {
    flex: 1;
    max-width: $content-width-desktop;
  }
}
