@import '../../scss/card';
@import '../../scss/fonts';

.visualizer {
  display: flex;
  position: relative;
  flex: 1;
  height: 100%;

  .canvas {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .stats-panel-container {
    display: flex;
    position: absolute;
    top: 0px;
    right: 30px;
    bottom: 0px;
    align-items: center;
    justify-content: center;

    .stats-panel {
      .card--value,
      .card--label {
        text-align: right;
      }
    }
  }

  .key-panel-container {
    display: flex;
    position: absolute;
    right: 30px;
    bottom: 30px;
    left: 0px;
    justify-content: center;

    .key-panel {
      display: flex;
      flex-direction: row;
      padding: $spacing-small;

      .key-panel-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 $spacing-small;

        .key-marker {
          width: 12px;
          height: 12px;
          margin-right: $spacing-tiny;
          border-radius: 3px;

          &.key-marker--solid {
            background-color: #4caaff;
          }

          &.key-marker--unsolid {
            background-color: #8fe6fa;
          }

          &.key-marker--referenced {
            background-color: #61e884;
          }

          &.key-marker--conflicting {
            background-color: #ff8b5c;
          }

          &.key-marker--milestone {
            background-color: #666af6;
          }

          &.key-marker--unknown {
            background-color: #9aadce;
          }

          &.key-marker--tip {
            background-color: #ffca62;
          }
        }

        .key-label {
          @include font-size(14px);

          color: $text-color-secondary;
          font-family: $font-sans;
          font-weight: 500;
        }
      }
    }
  }
}
