/* dm-mono-300 - latin */
@font-face {
    font-family: 'DM Mono';
    font-style: normal;
    font-weight: 300;
    src: local(''),
         url('../../assets/fonts/dm-mono/dm-mono-v2-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../../assets/fonts/dm-mono/dm-mono-v2-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* dm-mono-300italic - latin */
  @font-face {
    font-family: 'DM Mono';
    font-style: italic;
    font-weight: 300;
    src: local(''),
         url('../../assets/fonts/dm-mono/dm-mono-v2-latin-300italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../../assets/fonts/dm-mono/dm-mono-v2-latin-300italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* dm-mono-regular - latin */
  @font-face {
    font-family: 'DM Mono';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../../assets/fonts/dm-mono/dm-mono-v2-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../../assets/fonts/dm-mono/dm-mono-v2-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* dm-mono-italic - latin */
  @font-face {
    font-family: 'DM Mono';
    font-style: italic;
    font-weight: 400;
    src: local(''),
         url('../../assets/fonts/dm-mono/dm-mono-v2-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../../assets/fonts/dm-mono/dm-mono-v2-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* dm-mono-500 - latin */
  @font-face {
    font-family: 'DM Mono';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../../assets/fonts/dm-mono/dm-mono-v2-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../../assets/fonts/dm-mono/dm-mono-v2-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* dm-mono-500italic - latin */
  @font-face {
    font-family: 'DM Mono';
    font-style: italic;
    font-weight: 500;
    src: local(''),
         url('../../assets/fonts/dm-mono/dm-mono-v2-latin-500italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../../assets/fonts/dm-mono/dm-mono-v2-latin-500italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }