@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('../../assets/fonts/fira-mono/fira-mono-v9-latin-regular.woff2') format('woff2'), url('../../assets/fonts/fira-mono/fira-mono-v9-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 500;
  src: local(''), url('../../assets/fonts/fira-mono/fira-mono-v9-latin-500.woff2') format('woff2'), url('../../assets/fonts/fira-mono/fira-mono-v9-latin-500.woff') format('woff');
}

@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 700;
  src: local(''), url('../../assets/fonts/fira-mono/fira-mono-v9-latin-700.woff2') format('woff2'), url('../../assets/fonts/fira-mono/fira-mono-v9-latin-700.woff') format('woff');
}
