@import './scss/layout';
@import './scss/standard';
@import './scss/variables';

html {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  background-color: $background;
  overflow: hidden;

  // sass-lint:disable no-ids
  #root {
    display: flex;
    flex: 1;

    .success {
      color: $success;
    }

    .warning {
      color: $warning;
    }

    .danger {
      color: $danger;
    }

    .info {
      color: $info;
    }
  }
}

::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #f6f8fc;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #f6f8fc;
}

::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: #b2c1dc;
}
