@import './fonts';
@import './variables';

.card {
  padding: 10px;
  border: 1px solid var(--panel-border);
  border-radius: 16px;
  background-color: var(--panel-background);
  overflow: hidden;

  .card--header-count {
    @include font-size(12px);

    display: flex;
    align-items: center;
    height: 24px;
    margin-left: 20px;
    padding: 0px 8px;
    border-radius: 6px;
    background-color: var(--background);
    color: var(--accent-primary);
    font-family: $font-sans;
    font-weight: bold;
    white-space: nowrap;
  }

  .card--label {
    @include font-size(10px);
    margin-top: $spacing-small;
    margin-bottom: $spacing-tiny / 2;

    color: var(--text-color-secondary);
    font-family: $font-sans;
    font-weight: 500;
    text-transform: uppercase;
  }

  .card--value {
    @include font-size(14px);

    color: var(--text-color-primary);
    font-family: $font-sans;
    word-break: break-all;

    a {
      color: var(--accent-primary);
      text-decoration: none;
    }

    button {
      border: 0;
      outline: 0;
      background: none;
      color: var(--accent-primary);
      cursor: pointer;
    }

    &.card--value__mono {
      font-family: $font-mono;
    }

    &.card--value-textarea {
      @include font-size(12px);
      min-height: 150px;
      max-height: 150px;
      padding: 10px;
      background: var(--panel-border);
      font-family: $font-mono;
      overflow: auto;

      &.card--value-textarea__ascii {
        max-height: 350px;
        white-space: pre-wrap;
      }

      &.card--value-textarea__hex {
        max-height: 350px;
        white-space: pre-wrap;
        word-break: break-word;
      }

      &.card--value-textarea__json {
        max-height: 350px;
        white-space: pre-wrap;
      }
    }
  }

  .card--action {
    @include font-size(14px);
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0;
    outline: 0;
    background: none;

    color: var(--accent-primary);
    font-family: $font-sans;
    cursor: pointer;

    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }
}
