@import './fonts/dm-sans';
@import './fonts/fira-mono';
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

$font-sans: 'DM Sans', sans-serif;
$font-mono: 'PT Mono', monospace;

$rem-base-font: 16px !default;

@mixin font-size($font-size, $line-height: 0) {
  font-size: $font-size;

  // sass-lint:disable no-duplicate-properties
  font-size: $font-size / $rem-base-font * 1rem;

  @if $line-height > 0 {
    line-height: $line-height;

    // sass-lint:disable no-duplicate-properties
    line-height: $line-height / $rem-base-font * 1rem;
  }
}
