@import './fonts';
@import './variables';

.select-wrapper {
  display: inline-block;
  position: relative;

  svg {
    position: absolute;
    z-index: 2;
    top: 16px;
    right: 18px;
    color: var(--text-color-primary);
    pointer-events: none;
  }

  select {
    @include font-size(14px);

    height: 40px;
    margin: 0px;
    padding: 0px 48px 0px 20px;
    border: 1px solid var(--text-color-secondary);
    border-radius: $form-input-radius;
    outline: none;
    background-color: transparent;
    color: var(--text-color-primary);
    font-family: $font-sans;
    appearance: none;

    &:focus {
      box-shadow: 0 0 3px 0 var(--accent-primary);
    }

    // sass-lint:disable no-vendor-prefixes
    &:-ms-expand {
      display: none;
    }

    // sass-lint:disable no-vendor-prefixes
    &:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 var(--text-color-primary);
    }

    option {
      background-color: var(--panel-background);
      color: var(--text-color-primary);
    }
  }
}

input {
  @include font-size(14px);

  height: 40px;
  margin: 0px;
  padding: 0px 48px 0px 20px;
  border: 1px solid var(--text-color-secondary);
  border-radius: $form-input-radius;
  outline: none;
  background-color: transparent;
  color: var(--text-color-primary);
  font-family: $font-sans;
  appearance: none;

  &:focus {
    box-shadow: 0 0 3px 0 var(--accent-primary);
  }

  &:disabled {
    opacity: 0.5;
  }

  &.input--stretch {
    width: 100%;
  }
}
