@import './variables';

.row {
  display: flex;
  flex-direction: row;

  &.middle {
    align-items: center;
  }

  &.bottom {
    align-items: flex-end;
  }

  &.inline {
    display: inline-flex;
  }

  &.spread {
    justify-content: space-between;
  }
}

.col {
  display: flex;
  flex-direction: column;
}

.fill {
  flex: 1;
}

.margin-t-t {
  margin-top: $spacing-tiny;
}

.margin-t-s {
  margin-top: $spacing-small;
}

.margin-t-m {
  margin-top: $spacing-medium;
}

.margin-t-l {
  margin-top: $spacing-large;
}

.margin-b-t {
  margin-bottom: $spacing-tiny;
}

.margin-b-s {
  margin-bottom: $spacing-small;
}

.margin-b-m {
  margin-bottom: $spacing-medium;
}

.margin-b-l {
  margin-bottom: $spacing-large;
}

.margin-r-t {
  margin-right: $spacing-tiny;
}

.margin-r-s {
  margin-right: $spacing-small;
}

.margin-r-m {
  margin-right: $spacing-medium;
}

.margin-r-l {
  margin-right: $spacing-large;
}

.margin-l-t {
  margin-left: $spacing-tiny;
}

.margin-l-s {
  margin-left: $spacing-small;
}

.margin-l-m {
  margin-left: $spacing-medium;
}

.margin-l-l {
  margin-left: $spacing-large;
}

.padding-t {
  padding: $spacing-tiny;
}

.padding-s {
  padding: $spacing-small;
}

.padding-m {
  padding: $spacing-medium;
}

.padding-l {
  padding: $spacing-large;
}

.padding-0 {
  padding: 0;
}
