$background: #f6f9ff;

$panel-background: #ffffff;
$panel-border: #eaeef4;

$card-background: #ffffff;
$card-border: #eef4ff;

$text-color-primary: #25395f;
$text-color-secondary: #9aadce;
$highlight: #108cff;

$banner-background: #f6f8fc;

$content-width-desktop: 1080px;

$spacing-tiny: 10px;
$spacing-small: 16px;
$spacing-medium: 24px;
$spacing-large: 32px;

$success: #28a745;
$danger: #dc3545;
$info: #17a2b8;
$warning: #ffc107;
